.App {
  display: flex;
  flex-direction: column; /* Arrange images in a row (horizontal) */
}

.sample{
  display: flex;
  flex-direction: row;
  height: 230px;
}

.sample > * {
  border: 1px solid red;
}
