.image-container {
  display: flex;
}

.image-item {
  display: flex;
  align-items: flex-end;
  flex-direction: row; /* Arrange images in a row (horizontal) */
  margin: 10px;
  text-align: center;
}

img {
  margin: 5px;
  height: 200px; /* Allow the height to adjust based on the image's aspect ratio */
}

p {
  margin: 0 20px;
  font-size: 18px; /* Adjust font size as needed */
  color: black;
}

.timeline-container {
  text-align: left;

}
